.seccion{
    padding: 4px 32px;
    height: 30px;
    background-color: rgb(242, 242, 242);
    text-align: right;
}
.enable{
    display: inline;
    color: #a76721;
    font-family: nonito;
    font-size: 11px;
    text-align: right;
    letter-spacing: 0.85px;
}
.encabezado_principal{
    box-shadow: #0000001a 0px 10px 11px -5px;
}
.encabezado{
    align-items: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 106px 668.219px 574.781px;
    grid-template-rows: 100px;
}
.contenedor_logo{
    display: flex;
    justify-content: center;
}
.contenedor_opciones{
    display: flex;
    justify-content: space-around;
    color: #451400;
}
.opciones{
    display: inline;
    color: #451400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.logo_chipotle{
    display: inline;
}
.contenedor_ECC{
    display: flex;
    justify-content: end;
    padding: 0px 14px 0px 0px;
}
.contendor_ECC_hijo{
    align-items: center;
    display: flex;
    flex-basis: 100%;
    justify-content: end;
}
.contenedor_ubicacion{
    display: flex;
    align-items: center;
    background-position: 0px 0px;
    font-weight: 700;
}
.span_ubicacion{
    color: #451400;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
.contendor_cuenta{
    align-items: center;
    display: flex;
    justify-content: center;
}
.span_cuenta{
    color: #786259;
    font-size: 12.8px;
    font-weight: 700;
    letter-spacing: 0.64px;
}
.icono_compra{
    display: inline;
}
.video_principal{
    width: 1335px;
    height: 500px
}
.contenedor_banner{
    align-items: center;
    display: flex;
    justify-content: center;
}
.banner_hijo{
    display: flex;
    justify-content: center;
}
.contenedor_imagen{
    display: flex;
}
.icono_chile{
    width: 64px;
    margin: 5px;
}
.video{
    width: 100%;
}
.contenedor_mensaje{
    align-items: center;
    display: flex;
    font-size: 24px;
    margin: 0px 0px 0px 15px;
    text-align: left;
}
.mensaje{
    color: #451400;
    font-size: 24px;
    text-align: left;
}
.contenedor_boton{
    align-items: center;
    display: flex;
    margin: 0px 0px 0px 15px;
    text-align: left;
}
.boton_cuenta{
    align-items: flex-start;
    background-color: #451400;
    color: #fff;
    font-weight: 700;
    line-height: 32px;
    padding: 0px 12px;
    text-align: center;
}
.contenedor_or{
    align-items: center;
    display: flex;
    margin: 0px 0px 0px 15px;
    text-align: left;
}
.or{
    display: inline;
    font-weight: 500;
    text-align: left;
}
.contenedor_boton2{
    align-items: center;
    display: flex;
    margin: 0px 0px 0px 10px;
    text-align: left;
}
.boton_sesion{
    align-items: flex-start;
    color: #b68207 ;
    font-size: 19.2px;
    font-weight: 500;
    line-height: 32px;
}
.apartado_alimentos{
    width: 1309px;
    height: 600px;
}
.contenedor_alimentos{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor_produc{
    align-items: center;
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 20px;
    padding: 0px 16px 0px 0px;    
}
.contenedor_final{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_producto{
    width: 336px;
}
.separador{
    padding: 0px 0px 40px;
}
.contenedor_ubi{
    display: flex;
    justify-content: center;
}
.ubicacion_hijo{
    display: flex;
    justify-content: center;
}
.marca_registrada{
    font-size: 13.8px;
    margin: 4px 0px 0px;
    padding: 0px 0px 0px 20px;
}
.apartado_legal{
    background-color: #d7d7d7;
    color: #786259;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px -116px;
    text-align: center;
    padding: 24px 0px;
}
.ae{
    display: inline;
    font-size: 12px;    
    font-weight: 600;
    text-align: center;
    
}
